<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Jump0001.png</key>
            <dict>
                <key>height</key>
                <integer>264</integer>
                <key>offsetX</key>
                <real>16</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>322</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>582</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Jump0002.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>21</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>322</integer>
                <key>width</key>
                <integer>274</integer>
                <key>x</key>
                <integer>308</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Jump0003.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>322</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Jump.pvr.ccz</string>
            <key>size</key>
            <string>{844,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc88b684f4e333d03089459a5e2aa20:4a4312a7805ff21ea16debb0abe0ea32:dc4ffef25367df63513ed7059af03c37$</string>
            <key>textureFileName</key>
            <string>Npc04_Jump.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>272</integer>
            <key>width</key>
            <integer>844</integer>
        </dict>
    </dict>
</plist>
