<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Beattack0001.png</key>
            <dict>
                <key>height</key>
                <integer>481</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-7</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>459</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>469</integer>
            </dict>
            <key>Npc04_Beattack0002.png</key>
            <dict>
                <key>height</key>
                <integer>469</integer>
                <key>offsetX</key>
                <real>67</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>405</integer>
                <key>x</key>
                <integer>601</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Beattack0003.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-109</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>601</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Beattack0004.png</key>
            <dict>
                <key>height</key>
                <integer>215</integer>
                <key>offsetX</key>
                <real>67</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>449</integer>
                <key>x</key>
                <integer>459</integer>
                <key>y</key>
                <integer>469</integer>
            </dict>
            <key>Npc04_Beattack0005.png</key>
            <dict>
                <key>height</key>
                <integer>211</integer>
                <key>offsetX</key>
                <real>-94</real>
                <key>offsetY</key>
                <real>-77</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>405</integer>
                <key>x</key>
                <integer>459</integer>
                <key>y</key>
                <integer>684</integer>
            </dict>
            <key>Npc04_Beattack0006.png</key>
            <dict>
                <key>height</key>
                <integer>145</integer>
                <key>offsetX</key>
                <real>154</real>
                <key>offsetY</key>
                <real>-96</real>
                <key>originalHeight</key>
                <integer>591</integer>
                <key>originalWidth</key>
                <integer>651</integer>
                <key>width</key>
                <integer>267</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>273</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Beattack.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f43ce248e78798704fcf608b72341123:dc3d7fb244d7fd90ba33d9b3ec14e5e9:e50a4deb7233a63f53b9d5af18ac38ac$</string>
            <key>textureFileName</key>
            <string>Npc04_Beattack.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
