<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Attack01_0001.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-266</real>
                <key>offsetY</key>
                <real>-114</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>319</integer>
                <key>x</key>
                <integer>1624</integer>
                <key>y</key>
                <integer>761</integer>
            </dict>
            <key>Npc04_Attack01_0002.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-266</real>
                <key>offsetY</key>
                <real>-114</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>319</integer>
                <key>x</key>
                <integer>1624</integer>
                <key>y</key>
                <integer>508</integer>
            </dict>
            <key>Npc04_Attack01_0003.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-268</real>
                <key>offsetY</key>
                <real>-118</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>317</integer>
                <key>x</key>
                <integer>990</integer>
                <key>y</key>
                <integer>1882</integer>
            </dict>
            <key>Npc04_Attack01_0004.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-268</real>
                <key>offsetY</key>
                <real>-118</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>317</integer>
                <key>x</key>
                <integer>673</integer>
                <key>y</key>
                <integer>1882</integer>
            </dict>
            <key>Npc04_Attack01_0005.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-120</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>1307</integer>
                <key>y</key>
                <integer>1979</integer>
            </dict>
            <key>Npc04_Attack01_0006.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-121</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>1622</integer>
                <key>y</key>
                <integer>2218</integer>
            </dict>
            <key>Npc04_Attack01_0007.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-121</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>1622</integer>
                <key>y</key>
                <integer>1979</integer>
            </dict>
            <key>Npc04_Attack01_0008.png</key>
            <dict>
                <key>height</key>
                <integer>237</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-122</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>673</integer>
                <key>y</key>
                <integer>2127</integer>
            </dict>
            <key>Npc04_Attack01_0009.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-123</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>1303</integer>
                <key>y</key>
                <integer>2220</integer>
            </dict>
            <key>Npc04_Attack01_0010.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-271</real>
                <key>offsetY</key>
                <real>-123</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>988</integer>
                <key>y</key>
                <integer>2127</integer>
            </dict>
            <key>Npc04_Attack01_0011.png</key>
            <dict>
                <key>height</key>
                <integer>357</integer>
                <key>offsetX</key>
                <real>-295</real>
                <key>offsetY</key>
                <real>-63</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>437</integer>
                <key>x</key>
                <integer>1538</integer>
                <key>y</key>
                <integer>1371</integer>
            </dict>
            <key>Npc04_Attack01_0012.png</key>
            <dict>
                <key>height</key>
                <integer>357</integer>
                <key>offsetX</key>
                <real>-295</real>
                <key>offsetY</key>
                <real>-63</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>437</integer>
                <key>x</key>
                <integer>1538</integer>
                <key>y</key>
                <integer>1014</integer>
            </dict>
            <key>Npc04_Attack01_0013.png</key>
            <dict>
                <key>height</key>
                <integer>539</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>10</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>743</integer>
                <key>x</key>
                <integer>795</integer>
                <key>y</key>
                <integer>868</integer>
            </dict>
            <key>Npc04_Attack01_0014.png</key>
            <dict>
                <key>height</key>
                <integer>517</integer>
                <key>offsetX</key>
                <real>59</real>
                <key>offsetY</key>
                <real>-27</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>673</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1760</integer>
            </dict>
            <key>Npc04_Attack01_0015.png</key>
            <dict>
                <key>height</key>
                <integer>481</integer>
                <key>offsetX</key>
                <real>120</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>795</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>804</integer>
            </dict>
            <key>Npc04_Attack01_0016.png</key>
            <dict>
                <key>height</key>
                <integer>467</integer>
                <key>offsetX</key>
                <real>126</real>
                <key>offsetY</key>
                <real>-50</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>807</integer>
                <key>x</key>
                <integer>817</integer>
                <key>y</key>
                <integer>401</integer>
            </dict>
            <key>Npc04_Attack01_0017.png</key>
            <dict>
                <key>height</key>
                <integer>399</integer>
                <key>offsetX</key>
                <real>126</real>
                <key>offsetY</key>
                <real>-78</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>807</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>405</integer>
            </dict>
            <key>Npc04_Attack01_0018.png</key>
            <dict>
                <key>height</key>
                <integer>401</integer>
                <key>offsetX</key>
                <real>132</real>
                <key>offsetY</key>
                <real>-78</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>817</integer>
                <key>x</key>
                <integer>817</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack01_0019.png</key>
            <dict>
                <key>height</key>
                <integer>405</integer>
                <key>offsetX</key>
                <real>132</real>
                <key>offsetY</key>
                <real>-76</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>817</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack01_0020.png</key>
            <dict>
                <key>height</key>
                <integer>475</integer>
                <key>offsetX</key>
                <real>55</real>
                <key>offsetY</key>
                <real>-41</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>709</integer>
                <key>x</key>
                <integer>709</integer>
                <key>y</key>
                <integer>1407</integer>
            </dict>
            <key>Npc04_Attack01_0021.png</key>
            <dict>
                <key>height</key>
                <integer>475</integer>
                <key>offsetX</key>
                <real>55</real>
                <key>offsetY</key>
                <real>-41</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>709</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1285</integer>
            </dict>
            <key>Npc04_Attack01_0022.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-64</real>
                <key>offsetY</key>
                <real>-115</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>517</integer>
                <key>x</key>
                <integer>1418</integer>
                <key>y</key>
                <integer>1728</integer>
            </dict>
            <key>Npc04_Attack01_0023.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-150</real>
                <key>offsetY</key>
                <real>-115</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>347</integer>
                <key>x</key>
                <integer>1634</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack01_0024.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-210</real>
                <key>offsetY</key>
                <real>-112</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>337</integer>
                <key>x</key>
                <integer>1634</integer>
                <key>y</key>
                <integer>251</integer>
            </dict>
            <key>Npc04_Attack01_0025.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-210</real>
                <key>offsetY</key>
                <real>-112</real>
                <key>originalHeight</key>
                <integer>653</integer>
                <key>originalWidth</key>
                <integer>1119</integer>
                <key>width</key>
                <integer>337</integer>
                <key>x</key>
                <integer>1634</integer>
                <key>y</key>
                <integer>251</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Attack01.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d7684871f2643e7ba3ed929538f926:70970e93182d42981f0a6f941b1734ad:18bc30c12da16637e946fb26a0cf0a3a$</string>
            <key>textureFileName</key>
            <string>Npc04_Attack01.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>4096</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
