<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Idle0001.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>305</integer>
                <key>x</key>
                <integer>618</integer>
                <key>y</key>
                <integer>738</integer>
            </dict>
            <key>Npc04_Idle0002.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>303</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>998</integer>
            </dict>
            <key>Npc04_Idle0003.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>303</integer>
                <key>x</key>
                <integer>303</integer>
                <key>y</key>
                <integer>990</integer>
            </dict>
            <key>Npc04_Idle0004.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>303</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc04_Idle0005.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>606</integer>
                <key>y</key>
                <integer>1240</integer>
            </dict>
            <key>Npc04_Idle0006.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>909</integer>
                <key>y</key>
                <integer>994</integer>
            </dict>
            <key>Npc04_Idle0007.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>1226</integer>
                <key>y</key>
                <integer>754</integer>
            </dict>
            <key>Npc04_Idle0008.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>1549</integer>
                <key>y</key>
                <integer>738</integer>
            </dict>
            <key>Npc04_Idle0009.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>301</integer>
                <key>x</key>
                <integer>303</integer>
                <key>y</key>
                <integer>1242</integer>
            </dict>
            <key>Npc04_Idle0010.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>303</integer>
                <key>x</key>
                <integer>606</integer>
                <key>y</key>
                <integer>992</integer>
            </dict>
            <key>Npc04_Idle0011.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>303</integer>
                <key>x</key>
                <integer>923</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc04_Idle0012.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>305</integer>
                <key>x</key>
                <integer>307</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>Npc04_Idle0013.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>307</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>500</integer>
            </dict>
            <key>Npc04_Idle0014.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>307</integer>
                <key>x</key>
                <integer>311</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc04_Idle0015.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>309</integer>
                <key>x</key>
                <integer>1557</integer>
                <key>y</key>
                <integer>492</integer>
            </dict>
            <key>Npc04_Idle0016.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>309</integer>
                <key>x</key>
                <integer>626</integer>
                <key>y</key>
                <integer>494</integer>
            </dict>
            <key>Npc04_Idle0017.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>311</integer>
                <key>x</key>
                <integer>937</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc04_Idle0018.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>311</integer>
                <key>x</key>
                <integer>626</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc04_Idle0019.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>313</integer>
                <key>x</key>
                <integer>1573</integer>
                <key>y</key>
                <integer>246</integer>
            </dict>
            <key>Npc04_Idle0020.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>313</integer>
                <key>x</key>
                <integer>1573</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0021.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>945</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0022.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>630</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0023.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>315</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0024.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>315</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0025.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>313</integer>
                <key>x</key>
                <integer>1260</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Idle0026.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>311</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc04_Idle0027.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>311</integer>
                <key>x</key>
                <integer>315</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc04_Idle0028.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>309</integer>
                <key>x</key>
                <integer>1248</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc04_Idle0029.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>307</integer>
                <key>x</key>
                <integer>1242</integer>
                <key>y</key>
                <integer>502</integer>
            </dict>
            <key>Npc04_Idle0030.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>254</integer>
                <key>originalWidth</key>
                <integer>325</integer>
                <key>width</key>
                <integer>307</integer>
                <key>x</key>
                <integer>935</integer>
                <key>y</key>
                <integer>494</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61876107e9dcc8039a05c633e6249c0f:c69eee0af55022f5d22b96270868c094:fe3f0be504fa5cf4c4fc9882c0e833c5$</string>
            <key>textureFileName</key>
            <string>Npc04_Idle.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
