<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Attack02_0001.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-132</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>1376</integer>
            </dict>
            <key>Npc04_Attack02_0002.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-132</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>320</integer>
                <key>x</key>
                <integer>284</integer>
                <key>y</key>
                <integer>1125</integer>
            </dict>
            <key>Npc04_Attack02_0003.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-133</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>316</integer>
                <key>x</key>
                <integer>346</integer>
                <key>y</key>
                <integer>1627</integer>
            </dict>
            <key>Npc04_Attack02_0004.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-133</real>
                <key>offsetY</key>
                <real>-94</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>316</integer>
                <key>x</key>
                <integer>604</integer>
                <key>y</key>
                <integer>1125</integer>
            </dict>
            <key>Npc04_Attack02_0005.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-96</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>656</integer>
                <key>y</key>
                <integer>1370</integer>
            </dict>
            <key>Npc04_Attack02_0006.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-97</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>662</integer>
                <key>y</key>
                <integer>1611</integer>
            </dict>
            <key>Npc04_Attack02_0007.png</key>
            <dict>
                <key>height</key>
                <integer>237</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-98</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>630</integer>
                <key>y</key>
                <integer>862</integer>
            </dict>
            <key>Npc04_Attack02_0008.png</key>
            <dict>
                <key>height</key>
                <integer>237</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-98</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>388</integer>
                <key>y</key>
                <integer>625</integer>
            </dict>
            <key>Npc04_Attack02_0009.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-99</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>920</integer>
                <key>y</key>
                <integer>1099</integer>
            </dict>
            <key>Npc04_Attack02_0010.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-136</real>
                <key>offsetY</key>
                <real>-99</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>702</integer>
                <key>y</key>
                <integer>625</integer>
            </dict>
            <key>Npc04_Attack02_0011.png</key>
            <dict>
                <key>height</key>
                <integer>297</integer>
                <key>offsetX</key>
                <real>-84</real>
                <key>offsetY</key>
                <real>-69</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>284</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1171</integer>
            </dict>
            <key>Npc04_Attack02_0012.png</key>
            <dict>
                <key>height</key>
                <integer>297</integer>
                <key>offsetX</key>
                <real>-84</real>
                <key>offsetY</key>
                <real>-69</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>284</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>874</integer>
            </dict>
            <key>Npc04_Attack02_0013.png</key>
            <dict>
                <key>height</key>
                <integer>225</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-104</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>630</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack02_0014.png</key>
            <dict>
                <key>height</key>
                <integer>225</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-104</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>1094</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack02_0015.png</key>
            <dict>
                <key>height</key>
                <integer>217</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-108</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>1524</integer>
                <key>y</key>
                <integer>217</integer>
            </dict>
            <key>Npc04_Attack02_0016.png</key>
            <dict>
                <key>height</key>
                <integer>217</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-108</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>1524</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack02_0017.png</key>
            <dict>
                <key>height</key>
                <integer>199</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-117</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>1094</integer>
                <key>y</key>
                <integer>426</integer>
            </dict>
            <key>Npc04_Attack02_0018.png</key>
            <dict>
                <key>height</key>
                <integer>201</integer>
                <key>offsetX</key>
                <real>74</real>
                <key>offsetY</key>
                <real>-116</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>430</integer>
                <key>x</key>
                <integer>1094</integer>
                <key>y</key>
                <integer>225</integer>
            </dict>
            <key>Npc04_Attack02_0019.png</key>
            <dict>
                <key>height</key>
                <integer>189</integer>
                <key>offsetX</key>
                <real>73</real>
                <key>offsetY</key>
                <real>-122</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>432</integer>
                <key>x</key>
                <integer>662</integer>
                <key>y</key>
                <integer>1850</integer>
            </dict>
            <key>Npc04_Attack02_0020.png</key>
            <dict>
                <key>height</key>
                <integer>437</integer>
                <key>offsetX</key>
                <real>30</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>388</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>437</integer>
            </dict>
            <key>Npc04_Attack02_0021.png</key>
            <dict>
                <key>height</key>
                <integer>437</integer>
                <key>offsetX</key>
                <real>30</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>388</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Attack02_0022.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>346</integer>
                <key>x</key>
                <integer>284</integer>
                <key>y</key>
                <integer>874</integer>
            </dict>
            <key>Npc04_Attack02_0023.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>-91</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>346</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1725</integer>
            </dict>
            <key>Npc04_Attack02_0024.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-75</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1468</integer>
            </dict>
            <key>Npc04_Attack02_0025.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-75</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>439</integer>
                <key>originalWidth</key>
                <integer>616</integer>
                <key>width</key>
                <integer>336</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1468</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Attack02.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a067e53d425852b65c164e00e77b711a:886f88c69ab69809454f75f6574c3946:cd0b035535188dde9753e8e7615c2e42$</string>
            <key>textureFileName</key>
            <string>Npc04_Attack02.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
