<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Hurt0001.png</key>
            <dict>
                <key>height</key>
                <integer>227</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>227</integer>
                <key>originalWidth</key>
                <integer>260</integer>
                <key>width</key>
                <integer>260</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Hurt.pvr.ccz</string>
            <key>size</key>
            <string>{260,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c480109fec6fb4fbd2d01543348de08:d7dd0315e2a60ceeb588f3a259b72abe:62cc73f942fd3aba6882273481c5e0d9$</string>
            <key>textureFileName</key>
            <string>Npc04_Hurt.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>227</integer>
            <key>width</key>
            <integer>260</integer>
        </dict>
    </dict>
</plist>
