<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Back0001.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>-13</real>
                <key>originalHeight</key>
                <integer>271</integer>
                <key>originalWidth</key>
                <integer>353</integer>
                <key>width</key>
                <integer>339</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>269</integer>
            </dict>
            <key>Npc04_Back0002.png</key>
            <dict>
                <key>height</key>
                <integer>269</integer>
                <key>offsetX</key>
                <real>-7</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>271</integer>
                <key>originalWidth</key>
                <integer>353</integer>
                <key>width</key>
                <integer>339</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Back.pvr.ccz</string>
            <key>size</key>
            <string>{339,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:546f5600914b7b47c3c86ac4d89081f0:3a9d2e89a54b55e9957fe35e6f812ab9:405c7c49d6a8b3126fe28573e4ec4e41$</string>
            <key>textureFileName</key>
            <string>Npc04_Back.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>510</integer>
            <key>width</key>
            <integer>339</integer>
        </dict>
    </dict>
</plist>
