<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc04_Run0001.png</key>
            <dict>
                <key>height</key>
                <integer>263</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>273</integer>
                <key>x</key>
                <integer>548</integer>
                <key>y</key>
                <integer>759</integer>
            </dict>
            <key>Npc04_Run0002.png</key>
            <dict>
                <key>height</key>
                <integer>263</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>273</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>749</integer>
            </dict>
            <key>Npc04_Run0003.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>283</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>253</integer>
            </dict>
            <key>Npc04_Run0004.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>283</integer>
                <key>x</key>
                <integer>566</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Run0005.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>275</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc04_Run0006.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>275</integer>
                <key>x</key>
                <integer>283</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc04_Run0007.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>542</integer>
                <key>y</key>
                <integer>1022</integer>
            </dict>
            <key>Npc04_Run0008.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1012</integer>
            </dict>
            <key>Npc04_Run0009.png</key>
            <dict>
                <key>height</key>
                <integer>263</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>273</integer>
                <key>x</key>
                <integer>275</integer>
                <key>y</key>
                <integer>739</integer>
            </dict>
            <key>Npc04_Run0010.png</key>
            <dict>
                <key>height</key>
                <integer>263</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>273</integer>
                <key>x</key>
                <integer>558</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc04_Run0011.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>283</integer>
                <key>x</key>
                <integer>283</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Run0012.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>283</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc04_Run0013.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>275</integer>
                <key>x</key>
                <integer>558</integer>
                <key>y</key>
                <integer>253</integer>
            </dict>
            <key>Npc04_Run0014.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>275</integer>
                <key>x</key>
                <integer>283</integer>
                <key>y</key>
                <integer>253</integer>
            </dict>
            <key>Npc04_Run0015.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>273</integer>
                <key>y</key>
                <integer>1002</integer>
            </dict>
            <key>Npc04_Run0016.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>1</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>265</integer>
                <key>originalWidth</key>
                <integer>293</integer>
                <key>width</key>
                <integer>269</integer>
                <key>x</key>
                <integer>273</integer>
                <key>y</key>
                <integer>1002</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc04_Run.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e9b7e63610af28679fd264cac2a1a84:77b2a1f4881731dd0421b54784a4efe3:cf6b86210e9f9509c5f621bc58170323$</string>
            <key>textureFileName</key>
            <string>Npc04_Run.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
