<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc05_Idle0001.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>760</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc05_Idle0002.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>570</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc05_Idle0003.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc05_Idle0004.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc05_Idle0005.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>760</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Idle0006.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>570</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Idle0007.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Idle0008.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Idle0009.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Idle0010.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>500</integer>
            </dict>
            <key>Npc05_Idle0011.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc05_Idle0012.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>760</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc05_Idle0013.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>994</integer>
            </dict>
            <key>Npc05_Idle0014.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>992</integer>
            </dict>
            <key>Npc05_Idle0015.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>760</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc05_Idle0016.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>570</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc05_Idle0017.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc05_Idle0018.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>748</integer>
            </dict>
            <key>Npc05_Idle0019.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>746</integer>
            </dict>
            <key>Npc05_Idle0020.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>570</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc05_Idle0021.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>380</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
            <key>Npc05_Idle0022.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>206</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>190</integer>
                <key>y</key>
                <integer>250</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc05_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b895f503b8f1d0d5e7825bc931fe6ce5:4380dd02d0406755fda4bbdf336bbb9a:66c27bb2b7afe02c02a0cf4ca1f87d7c$</string>
            <key>textureFileName</key>
            <string>Npc05_Idle.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
