<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc05_Attack01_0001.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-171</real>
                <key>offsetY</key>
                <real>-60</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>1180</integer>
                <key>y</key>
                <integer>534</integer>
            </dict>
            <key>Npc05_Attack01_0002.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-171</real>
                <key>offsetY</key>
                <real>-60</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>1180</integer>
                <key>y</key>
                <integer>285</integer>
            </dict>
            <key>Npc05_Attack01_0003.png</key>
            <dict>
                <key>height</key>
                <integer>389</integer>
                <key>offsetX</key>
                <real>-143</real>
                <key>offsetY</key>
                <real>-22</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>470</integer>
                <key>x</key>
                <integer>628</integer>
                <key>y</key>
                <integer>564</integer>
            </dict>
            <key>Npc05_Attack01_0004.png</key>
            <dict>
                <key>height</key>
                <integer>411</integer>
                <key>offsetX</key>
                <real>-166</real>
                <key>offsetY</key>
                <real>21</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>448</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>815</integer>
            </dict>
            <key>Npc05_Attack01_0005.png</key>
            <dict>
                <key>height</key>
                <integer>411</integer>
                <key>offsetX</key>
                <real>-190</real>
                <key>offsetY</key>
                <real>21</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>416</integer>
                <key>x</key>
                <integer>1368</integer>
                <key>y</key>
                <integer>771</integer>
            </dict>
            <key>Npc05_Attack01_0006.png</key>
            <dict>
                <key>height</key>
                <integer>419</integer>
                <key>offsetX</key>
                <real>-214</real>
                <key>offsetY</key>
                <real>25</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>362</integer>
                <key>x</key>
                <integer>448</integer>
                <key>y</key>
                <integer>1200</integer>
            </dict>
            <key>Npc05_Attack01_0007.png</key>
            <dict>
                <key>height</key>
                <integer>403</integer>
                <key>offsetX</key>
                <real>-238</real>
                <key>offsetY</key>
                <real>17</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>318</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1637</integer>
            </dict>
            <key>Npc05_Attack01_0008.png</key>
            <dict>
                <key>height</key>
                <integer>383</integer>
                <key>offsetX</key>
                <real>-220</real>
                <key>offsetY</key>
                <real>7</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>810</integer>
                <key>y</key>
                <integer>1254</integer>
            </dict>
            <key>Npc05_Attack01_0009.png</key>
            <dict>
                <key>height</key>
                <integer>309</integer>
                <key>offsetX</key>
                <real>-201</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>1094</integer>
                <key>y</key>
                <integer>1052</integer>
            </dict>
            <key>Npc05_Attack01_0010.png</key>
            <dict>
                <key>height</key>
                <integer>301</integer>
                <key>offsetX</key>
                <real>-204</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>250</integer>
                <key>x</key>
                <integer>844</integer>
                <key>y</key>
                <integer>953</integer>
            </dict>
            <key>Npc05_Attack01_0011.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>-208</real>
                <key>offsetY</key>
                <real>-37</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>258</integer>
                <key>x</key>
                <integer>1784</integer>
                <key>y</key>
                <integer>1032</integer>
            </dict>
            <key>Npc05_Attack01_0012.png</key>
            <dict>
                <key>height</key>
                <integer>269</integer>
                <key>offsetX</key>
                <real>-205</real>
                <key>offsetY</key>
                <real>-50</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>252</integer>
                <key>x</key>
                <integer>1098</integer>
                <key>y</key>
                <integer>783</integer>
            </dict>
            <key>Npc05_Attack01_0013.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>-197</real>
                <key>offsetY</key>
                <real>-54</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>1784</integer>
                <key>y</key>
                <integer>771</integer>
            </dict>
            <key>Npc05_Attack01_0014.png</key>
            <dict>
                <key>height</key>
                <integer>229</integer>
                <key>offsetX</key>
                <real>-178</real>
                <key>offsetY</key>
                <real>-70</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>234</integer>
                <key>x</key>
                <integer>1092</integer>
                <key>y</key>
                <integer>1361</integer>
            </dict>
            <key>Npc05_Attack01_0015.png</key>
            <dict>
                <key>height</key>
                <integer>231</integer>
                <key>offsetX</key>
                <real>-117</real>
                <key>offsetY</key>
                <real>-69</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>348</integer>
                <key>x</key>
                <integer>1338</integer>
                <key>y</key>
                <integer>1182</integer>
            </dict>
            <key>Npc05_Attack01_0016.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-64</real>
                <key>offsetY</key>
                <real>-64</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>454</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>574</integer>
            </dict>
            <key>Npc05_Attack01_0017.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>40</real>
                <key>offsetY</key>
                <real>-61</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>660</integer>
                <key>x</key>
                <integer>1380</integer>
                <key>y</key>
                <integer>251</integer>
            </dict>
            <key>Npc05_Attack01_0018.png</key>
            <dict>
                <key>height</key>
                <integer>251</integer>
                <key>offsetX</key>
                <real>40</real>
                <key>offsetY</key>
                <real>-59</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>662</integer>
                <key>x</key>
                <integer>1380</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Attack01_0019.png</key>
            <dict>
                <key>height</key>
                <integer>285</integer>
                <key>offsetX</key>
                <real>57</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>694</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Attack01_0020.png</key>
            <dict>
                <key>height</key>
                <integer>285</integer>
                <key>offsetX</key>
                <real>52</real>
                <key>offsetY</key>
                <real>-42</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>686</integer>
                <key>x</key>
                <integer>694</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Attack01_0021.png</key>
            <dict>
                <key>height</key>
                <integer>289</integer>
                <key>offsetX</key>
                <real>29</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>628</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>285</integer>
            </dict>
            <key>Npc05_Attack01_0022.png</key>
            <dict>
                <key>height</key>
                <integer>279</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>-45</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>552</integer>
                <key>x</key>
                <integer>628</integer>
                <key>y</key>
                <integer>285</integer>
            </dict>
            <key>Npc05_Attack01_0023.png</key>
            <dict>
                <key>height</key>
                <integer>273</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>-48</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>502</integer>
                <key>x</key>
                <integer>1368</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc05_Attack01_0024.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-77</real>
                <key>offsetY</key>
                <real>-61</real>
                <key>originalHeight</key>
                <integer>531</integer>
                <key>originalWidth</key>
                <integer>890</integer>
                <key>width</key>
                <integer>396</integer>
                <key>x</key>
                <integer>448</integer>
                <key>y</key>
                <integer>953</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc05_Attack01.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d87e903836116703a88421ae31b4eb33:0e00f8e2ad765df4ce04fb70cb0205dd:c5a2ffd7e239420cc9aab191a33d788e$</string>
            <key>textureFileName</key>
            <string>Npc05_Attack01.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
