<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc05_Hurt0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{189,250}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{189,250}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{189,250}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{189,250}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,0},{189,248}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{189,248}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{189,248}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{189,248}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,0},{193,242}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{193,242}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{193,242}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{193,242}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,0},{209,232}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{209,232}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2712,0},{199,232}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{199,232}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3307,0},{197,230}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{197,230}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3110,0},{197,230}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{197,230}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2911,0},{199,230}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{199,230}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2511,0},{201,232}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{201,232}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2310,0},{201,232}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{201,232}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2107,0},{203,232}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{203,232}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,0},{189,246}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{189,246}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{189,246}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{189,246}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{189,248}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{189,248}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
            <key>Npc05_Hurt0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{189,248}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{189,248}}</string>
                <key>sourceSize</key>
                <string>{233,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Npc05_Hurt.pvr.ccz</string>
            <key>size</key>
            <string>{3504,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4c37c94f2fe4498226dba082d7fc763:377221551b50454e1407975c47accb41:f73b7482d5fee004dd17e0dbd55db8fc$</string>
            <key>textureFileName</key>
            <string>Npc05_Hurt.pvr.ccz</string>
        </dict>
    </dict>
</plist>
