<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc05_Run0001.png</key>
            <dict>
                <key>height</key>
                <integer>260</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>279</integer>
                <key>x</key>
                <integer>279</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Run0002.png</key>
            <dict>
                <key>height</key>
                <integer>260</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>279</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Run0003.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>36</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>400</integer>
                <key>y</key>
                <integer>798</integer>
            </dict>
            <key>Npc05_Run0004.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>36</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>201</integer>
                <key>y</key>
                <integer>792</integer>
            </dict>
            <key>Npc05_Run0005.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>201</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>792</integer>
            </dict>
            <key>Npc05_Run0006.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>201</integer>
                <key>x</key>
                <integer>820</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>Npc05_Run0007.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>27</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>217</integer>
                <key>x</key>
                <integer>217</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>Npc05_Run0008.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>27</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>217</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>260</integer>
            </dict>
            <key>Npc05_Run0009.png</key>
            <dict>
                <key>height</key>
                <integer>260</integer>
                <key>offsetX</key>
                <real>32</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>207</integer>
                <key>x</key>
                <integer>207</integer>
                <key>y</key>
                <integer>532</integer>
            </dict>
            <key>Npc05_Run0010.png</key>
            <dict>
                <key>height</key>
                <integer>260</integer>
                <key>offsetX</key>
                <real>32</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>207</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>532</integer>
            </dict>
            <key>Npc05_Run0011.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>36</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>203</integer>
                <key>x</key>
                <integer>617</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>Npc05_Run0012.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>36</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>203</integer>
                <key>x</key>
                <integer>414</integer>
                <key>y</key>
                <integer>546</integer>
            </dict>
            <key>Npc05_Run0013.png</key>
            <dict>
                <key>height</key>
                <integer>274</integer>
                <key>offsetX</key>
                <real>30</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>215</integer>
                <key>x</key>
                <integer>649</integer>
                <key>y</key>
                <integer>272</integer>
            </dict>
            <key>Npc05_Run0014.png</key>
            <dict>
                <key>height</key>
                <integer>274</integer>
                <key>offsetX</key>
                <real>30</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>215</integer>
                <key>x</key>
                <integer>434</integer>
                <key>y</key>
                <integer>272</integer>
            </dict>
            <key>Npc05_Run0015.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>24</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>223</integer>
                <key>x</key>
                <integer>781</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc05_Run0016.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>24</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>274</integer>
                <key>originalWidth</key>
                <integer>287</integer>
                <key>width</key>
                <integer>223</integer>
                <key>x</key>
                <integer>558</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc05_Run.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b780d1bd6a6257065921380441f3fb86:9950b839c4238889aceed998d6869ede:a9a2d34c317801fb10c3541b54c97128$</string>
            <key>textureFileName</key>
            <string>Npc05_Run.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
