<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Attack02_0001.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-206</real>
                <key>offsetY</key>
                <real>-22</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>1828</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc03_Attack02_0002.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-206</real>
                <key>offsetY</key>
                <real>-22</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>1828</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc03_Attack02_0003.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-225</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1723</integer>
            </dict>
            <key>Npc03_Attack02_0004.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-225</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1723</integer>
            </dict>
            <key>Npc03_Attack02_0005.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>-245</real>
                <key>offsetY</key>
                <real>-27</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>1764</integer>
                <key>y</key>
                <integer>759</integer>
            </dict>
            <key>Npc03_Attack02_0006.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-31</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>656</integer>
                <key>y</key>
                <integer>1229</integer>
            </dict>
            <key>Npc03_Attack02_0007.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-31</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1552</integer>
                <key>y</key>
                <integer>1014</integer>
            </dict>
            <key>Npc03_Attack02_0008.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-31</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1254</integer>
                <key>y</key>
                <integer>1002</integer>
            </dict>
            <key>Npc03_Attack02_0009.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>954</integer>
                <key>y</key>
                <integer>1476</integer>
            </dict>
            <key>Npc03_Attack02_0010.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1252</integer>
                <key>y</key>
                <integer>1251</integer>
            </dict>
            <key>Npc03_Attack02_0011.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>954</integer>
                <key>y</key>
                <integer>1229</integer>
            </dict>
            <key>Npc03_Attack02_0012.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-256</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>302</integer>
                <key>x</key>
                <integer>1526</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc03_Attack02_0013.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-239</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1466</integer>
                <key>y</key>
                <integer>753</integer>
            </dict>
            <key>Npc03_Attack02_0014.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-142</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>462</integer>
                <key>x</key>
                <integer>1550</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack02_0015.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>23</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>764</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>490</integer>
            </dict>
            <key>Npc03_Attack02_0016.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>25</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>768</integer>
                <key>x</key>
                <integer>774</integer>
                <key>y</key>
                <integer>245</integer>
            </dict>
            <key>Npc03_Attack02_0017.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>732</integer>
                <key>x</key>
                <integer>734</integer>
                <key>y</key>
                <integer>735</integer>
            </dict>
            <key>Npc03_Attack02_0018.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>8</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>734</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>735</integer>
            </dict>
            <key>Npc03_Attack02_0019.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>28</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>774</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>245</integer>
            </dict>
            <key>Npc03_Attack02_0020.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>28</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>774</integer>
                <key>x</key>
                <integer>776</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack02_0021.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>21</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>762</integer>
                <key>x</key>
                <integer>764</integer>
                <key>y</key>
                <integer>490</integer>
            </dict>
            <key>Npc03_Attack02_0022.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>21</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>762</integer>
                <key>x</key>
                <integer>764</integer>
                <key>y</key>
                <integer>490</integer>
            </dict>
            <key>Npc03_Attack02_0023.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>29</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>776</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack02_0024.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>29</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>776</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack02_0025.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-43</real>
                <key>offsetY</key>
                <real>-32</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>598</integer>
                <key>x</key>
                <integer>656</integer>
                <key>y</key>
                <integer>980</integer>
            </dict>
            <key>Npc03_Attack02_0026.png</key>
            <dict>
                <key>height</key>
                <integer>295</integer>
                <key>offsetX</key>
                <real>-15</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>656</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1014</integer>
            </dict>
            <key>Npc03_Attack02_0027.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-138</real>
                <key>offsetY</key>
                <real>-24</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>376</integer>
                <key>x</key>
                <integer>1542</integer>
                <key>y</key>
                <integer>249</integer>
            </dict>
            <key>Npc03_Attack02_0028.png</key>
            <dict>
                <key>height</key>
                <integer>257</integer>
                <key>offsetX</key>
                <real>-138</real>
                <key>offsetY</key>
                <real>-24</real>
                <key>originalHeight</key>
                <integer>351</integer>
                <key>originalWidth</key>
                <integer>834</integer>
                <key>width</key>
                <integer>376</integer>
                <key>x</key>
                <integer>1542</integer>
                <key>y</key>
                <integer>249</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Attack02.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c47129d6a3aff572abe6f6c9f4a9d395:0f3f3f088d77048fcb524a2aaf14110f:f22fa271b39739c37825725cd5280541$</string>
            <key>textureFileName</key>
            <string>Npc03_Attack02.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
