<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Jump0001.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>14</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>324</integer>
                <key>width</key>
                <integer>294</integer>
                <key>x</key>
                <integer>324</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Jump0002.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>256</integer>
                <key>originalWidth</key>
                <integer>324</integer>
                <key>width</key>
                <integer>324</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Jump.pvr.ccz</string>
            <key>size</key>
            <string>{618,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428d8fb6033131ebae801817f7823c22:39b30f7921965b09532ec4b0c43ec9ae:545811c9455fbd332fbe407ffce66294$</string>
            <key>textureFileName</key>
            <string>Npc03_Jump.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>250</integer>
            <key>width</key>
            <integer>618</integer>
        </dict>
    </dict>
</plist>
