<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Run0001.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>596</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>Npc03_Run0002.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>298</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>Npc03_Run0003.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>Npc03_Run0004.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>596</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc03_Run0005.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>296</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1238</integer>
            </dict>
            <key>Npc03_Run0006.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>296</integer>
                <key>x</key>
                <integer>592</integer>
                <key>y</key>
                <integer>992</integer>
            </dict>
            <key>Npc03_Run0007.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc03_Run0008.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>616</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Run0009.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>298</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc03_Run0010.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc03_Run0011.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>606</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc03_Run0012.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>308</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc03_Run0013.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>296</integer>
                <key>x</key>
                <integer>296</integer>
                <key>y</key>
                <integer>992</integer>
            </dict>
            <key>Npc03_Run0014.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>296</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>992</integer>
            </dict>
            <key>Npc03_Run0015.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>308</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Run0016.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>250</integer>
                <key>originalWidth</key>
                <integer>308</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Run.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:248c67fd4d282f156856cce90bfb7d71:fbc3df9e2d210dba7d43ef36e6be68f2:a04eade458f507ee63ef2e652fcdcbcb$</string>
            <key>textureFileName</key>
            <string>Npc03_Run.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
