<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Die0001.png</key>
            <dict>
                <key>height</key>
                <integer>213</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>215</integer>
                <key>originalWidth</key>
                <integer>268</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Die.pvr.ccz</string>
            <key>size</key>
            <string>{246,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5840920c5174f23bdbe85dbe0253498c:0ac53a017657ccf074a86a5c01ff7a71:17187f8b66efbfe9ca895b82082c157b$</string>
            <key>textureFileName</key>
            <string>Npc03_Die.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>213</integer>
            <key>width</key>
            <integer>246</integer>
        </dict>
    </dict>
</plist>
