<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Attack01_0001.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-215</real>
                <key>offsetY</key>
                <real>-79</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>1802</integer>
                <key>y</key>
                <integer>1222</integer>
            </dict>
            <key>Npc03_Attack01_0002.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-215</real>
                <key>offsetY</key>
                <real>-79</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>210</integer>
                <key>x</key>
                <integer>1802</integer>
                <key>y</key>
                <integer>1222</integer>
            </dict>
            <key>Npc03_Attack01_0003.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-234</real>
                <key>offsetY</key>
                <real>-81</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>1802</integer>
                <key>y</key>
                <integer>968</integer>
            </dict>
            <key>Npc03_Attack01_0004.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-234</real>
                <key>offsetY</key>
                <real>-81</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>1802</integer>
                <key>y</key>
                <integer>968</integer>
            </dict>
            <key>Npc03_Attack01_0005.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-254</real>
                <key>offsetY</key>
                <real>-84</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>654</integer>
                <key>y</key>
                <integer>3542</integer>
            </dict>
            <key>Npc03_Attack01_0006.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1718</integer>
                <key>y</key>
                <integer>3032</integer>
            </dict>
            <key>Npc03_Attack01_0007.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>952</integer>
                <key>y</key>
                <integer>3828</integer>
            </dict>
            <key>Npc03_Attack01_0008.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>654</integer>
                <key>y</key>
                <integer>3824</integer>
            </dict>
            <key>Npc03_Attack01_0009.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1536</integer>
                <key>y</key>
                <integer>3826</integer>
            </dict>
            <key>Npc03_Attack01_0010.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-88</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1536</integer>
                <key>y</key>
                <integer>3578</integer>
            </dict>
            <key>Npc03_Attack01_0011.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-263</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1718</integer>
                <key>y</key>
                <integer>3280</integer>
            </dict>
            <key>Npc03_Attack01_0012.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-265</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>302</integer>
                <key>x</key>
                <integer>936</integer>
                <key>y</key>
                <integer>3578</integer>
            </dict>
            <key>Npc03_Attack01_0013.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-248</real>
                <key>offsetY</key>
                <real>-89</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>1238</integer>
                <key>y</key>
                <integer>3578</integer>
            </dict>
            <key>Npc03_Attack01_0014.png</key>
            <dict>
                <key>height</key>
                <integer>454</integer>
                <key>offsetX</key>
                <real>-247</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>654</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>3542</integer>
            </dict>
            <key>Npc03_Attack01_0015.png</key>
            <dict>
                <key>height</key>
                <integer>454</integer>
                <key>offsetX</key>
                <real>-95</real>
                <key>offsetY</key>
                <real>-26</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>982</integer>
                <key>x</key>
                <integer>1064</integer>
                <key>y</key>
                <integer>514</integer>
            </dict>
            <key>Npc03_Attack01_0016.png</key>
            <dict>
                <key>height</key>
                <integer>452</integer>
                <key>offsetX</key>
                <real>-89</real>
                <key>offsetY</key>
                <real>-31</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1030</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>3090</integer>
            </dict>
            <key>Npc03_Attack01_0017.png</key>
            <dict>
                <key>height</key>
                <integer>480</integer>
                <key>offsetX</key>
                <real>-79</real>
                <key>offsetY</key>
                <real>-24</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1052</integer>
                <key>x</key>
                <integer>992</integer>
                <key>y</key>
                <integer>1570</integer>
            </dict>
            <key>Npc03_Attack01_0018.png</key>
            <dict>
                <key>height</key>
                <integer>494</integer>
                <key>offsetX</key>
                <real>-14</real>
                <key>offsetY</key>
                <real>-17</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1162</integer>
                <key>x</key>
                <integer>718</integer>
                <key>y</key>
                <integer>2084</integer>
            </dict>
            <key>Npc03_Attack01_0019.png</key>
            <dict>
                <key>height</key>
                <integer>502</integer>
                <key>offsetX</key>
                <real>-30</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1130</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>2588</integer>
            </dict>
            <key>Npc03_Attack01_0020.png</key>
            <dict>
                <key>height</key>
                <integer>518</integer>
                <key>offsetX</key>
                <real>-35</real>
                <key>offsetY</key>
                <real>-2</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1084</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1052</integer>
            </dict>
            <key>Npc03_Attack01_0021.png</key>
            <dict>
                <key>height</key>
                <integer>526</integer>
                <key>offsetX</key>
                <real>-32</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1064</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>526</integer>
            </dict>
            <key>Npc03_Attack01_0022.png</key>
            <dict>
                <key>height</key>
                <integer>526</integer>
                <key>offsetX</key>
                <real>-32</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>1064</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack01_0023.png</key>
            <dict>
                <key>height</key>
                <integer>514</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>992</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1570</integer>
            </dict>
            <key>Npc03_Attack01_0024.png</key>
            <dict>
                <key>height</key>
                <integer>514</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>976</integer>
                <key>x</key>
                <integer>1064</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Attack01_0025.png</key>
            <dict>
                <key>height</key>
                <integer>504</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>718</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>2084</integer>
            </dict>
            <key>Npc03_Attack01_0026.png</key>
            <dict>
                <key>height</key>
                <integer>496</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>718</integer>
                <key>x</key>
                <integer>1084</integer>
                <key>y</key>
                <integer>968</integer>
            </dict>
            <key>Npc03_Attack01_0027.png</key>
            <dict>
                <key>height</key>
                <integer>488</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>688</integer>
                <key>x</key>
                <integer>1030</integer>
                <key>y</key>
                <integer>3090</integer>
            </dict>
            <key>Npc03_Attack01_0028.png</key>
            <dict>
                <key>height</key>
                <integer>454</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>17</real>
                <key>originalHeight</key>
                <integer>590</integer>
                <key>originalWidth</key>
                <integer>1246</integer>
                <key>width</key>
                <integer>688</integer>
                <key>x</key>
                <integer>1130</integer>
                <key>y</key>
                <integer>2578</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Attack01.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04ed101bf7965b14fff06fc846bea89:cf1a34a133598e6ced9b4966ccd2894f:3f95affff3e820b895d5aec9f894529b$</string>
            <key>textureFileName</key>
            <string>Npc03_Attack01.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>4096</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
