<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Beattack0001.png</key>
            <dict>
                <key>height</key>
                <integer>76</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>350</integer>
            </dict>
            <key>Npc03_Beattack0002.png</key>
            <dict>
                <key>height</key>
                <integer>160</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>176</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Npc03_Beattack0003.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Beattack0004.png</key>
            <dict>
                <key>height</key>
                <integer>76</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>86</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>350</integer>
            </dict>
            <key>Npc03_Beattack0005.png</key>
            <dict>
                <key>height</key>
                <integer>160</integer>
                <key>offsetX</key>
                <real>-1</real>
                <key>offsetY</key>
                <real>2</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>176</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>190</integer>
            </dict>
            <key>Npc03_Beattack0006.png</key>
            <dict>
                <key>height</key>
                <integer>190</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>340</integer>
                <key>originalWidth</key>
                <integer>200</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Beattack.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51c15d3e9bd4f26acd5d8a375e5be987:68a0a47bbde85f68e5e48404fbf25992:63283847927de3df16567cbb84787e2d$</string>
            <key>textureFileName</key>
            <string>Npc03_Beattack.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>256</integer>
        </dict>
    </dict>
</plist>
