<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Back0001.png</key>
            <dict>
                <key>height</key>
                <integer>255</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>287</integer>
                <key>originalWidth</key>
                <integer>306</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>282</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Back0002.png</key>
            <dict>
                <key>height</key>
                <integer>287</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>287</integer>
                <key>originalWidth</key>
                <integer>306</integer>
                <key>width</key>
                <integer>282</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Back.pvr.ccz</string>
            <key>size</key>
            <string>{564,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d805882d0eaa86098152115ed1c89ac7:ac81917f9eb781db06e26ba7c367b62c:d99a4085e9940e3aaf59af2cf7bc7ba3$</string>
            <key>textureFileName</key>
            <string>Npc03_Back.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>287</integer>
            <key>width</key>
            <integer>564</integer>
        </dict>
    </dict>
</plist>
