<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Idle0001.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>1780</integer>
            </dict>
            <key>Npc03_Idle0002.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>1528</integer>
            </dict>
            <key>Npc03_Idle0003.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>1276</integer>
            </dict>
            <key>Npc03_Idle0004.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>1784</integer>
            </dict>
            <key>Npc03_Idle0005.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>1530</integer>
            </dict>
            <key>Npc03_Idle0006.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>1276</integer>
            </dict>
            <key>Npc03_Idle0007.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1786</integer>
            </dict>
            <key>Npc03_Idle0008.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1532</integer>
            </dict>
            <key>Npc03_Idle0009.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1278</integer>
            </dict>
            <key>Npc03_Idle0010.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>Npc03_Idle0011.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>512</integer>
            </dict>
            <key>Npc03_Idle0012.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>512</integer>
            </dict>
            <key>Npc03_Idle0013.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>512</integer>
            </dict>
            <key>Npc03_Idle0014.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>512</integer>
            </dict>
            <key>Npc03_Idle0015.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>Npc03_Idle0016.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>Npc03_Idle0017.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>Npc03_Idle0018.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>256</integer>
            </dict>
            <key>Npc03_Idle0019.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Idle0020.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Idle0021.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Idle0022.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc03_Idle0023.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>1022</integer>
            </dict>
            <key>Npc03_Idle0024.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>1022</integer>
            </dict>
            <key>Npc03_Idle0025.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1024</integer>
            </dict>
            <key>Npc03_Idle0026.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>1022</integer>
            </dict>
            <key>Npc03_Idle0027.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>633</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>Npc03_Idle0028.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>Npc03_Idle0029.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>768</integer>
            </dict>
            <key>Npc03_Idle0030.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>229</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>422</integer>
                <key>y</key>
                <integer>1276</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eadde5bf6353a1aa3ae1494732efa82:0e4b223e2f21f6ae4edf12e8a67a1a53:37e47b9b3811f2f327e6b9f979f1cd49$</string>
            <key>textureFileName</key>
            <string>Npc03_Idle.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
