<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc03_Hurt0001.png</key>
            <dict>
                <key>height</key>
                <integer>234</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>234</integer>
                <key>originalWidth</key>
                <integer>159</integer>
                <key>width</key>
                <integer>159</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc03_Hurt.pvr.ccz</string>
            <key>size</key>
            <string>{159,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2095e3485bfbb1f7ff7c09da72d68cef:df52efcc8cc1f1eaa610a6f8d6f4a4d8:b5afa39bade043fbca0d59288866f62b$</string>
            <key>textureFileName</key>
            <string>Npc03_Hurt.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>234</integer>
            <key>width</key>
            <integer>159</integer>
        </dict>
    </dict>
</plist>
