<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Beattack0001.png</key>
            <dict>
                <key>height</key>
                <integer>153</integer>
                <key>offsetX</key>
                <real>-33</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>489</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>171</integer>
            </dict>
            <key>Npc02_Beattack0002.png</key>
            <dict>
                <key>height</key>
                <integer>171</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>501</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Beattack0003.png</key>
            <dict>
                <key>height</key>
                <integer>171</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>501</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Beattack0004.png</key>
            <dict>
                <key>height</key>
                <integer>169</integer>
                <key>offsetX</key>
                <real>42</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>467</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>465</integer>
            </dict>
            <key>Npc02_Beattack0005.png</key>
            <dict>
                <key>height</key>
                <integer>169</integer>
                <key>offsetX</key>
                <real>42</real>
                <key>offsetY</key>
                <real>5</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>467</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>465</integer>
            </dict>
            <key>Npc02_Beattack0006.png</key>
            <dict>
                <key>height</key>
                <integer>141</integer>
                <key>offsetX</key>
                <real>66</real>
                <key>offsetY</key>
                <real>-9</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>691</integer>
                <key>width</key>
                <integer>469</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>324</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Beattack.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27108adf9071e6c7a63ed7ec5fd8ffea:9e02f2fc50434ae7ddadad3bc6469676:186ba8b9efef205ba8ef5c9f3cf47816$</string>
            <key>textureFileName</key>
            <string>Npc02_Beattack.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
