<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Attack01_0001.png</key>
            <dict>
                <key>height</key>
                <integer>364</integer>
                <key>offsetX</key>
                <real>-212</real>
                <key>offsetY</key>
                <real>-229</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>521</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>370</integer>
            </dict>
            <key>Npc02_Attack01_0002.png</key>
            <dict>
                <key>height</key>
                <integer>370</integer>
                <key>offsetX</key>
                <real>-54</real>
                <key>offsetY</key>
                <real>-226</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>837</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack01_0003.png</key>
            <dict>
                <key>height</key>
                <integer>322</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>-250</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>837</integer>
                <key>x</key>
                <integer>521</integer>
                <key>y</key>
                <integer>370</integer>
            </dict>
            <key>Npc02_Attack01_0004.png</key>
            <dict>
                <key>height</key>
                <integer>318</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-252</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>777</integer>
                <key>x</key>
                <integer>659</integer>
                <key>y</key>
                <integer>692</integer>
            </dict>
            <key>Npc02_Attack01_0005.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>109</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>641</integer>
                <key>x</key>
                <integer>1478</integer>
                <key>y</key>
                <integer>242</integer>
            </dict>
            <key>Npc02_Attack01_0006.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>109</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>641</integer>
                <key>x</key>
                <integer>837</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack01_0007.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>122</real>
                <key>offsetY</key>
                <real>-255</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>665</integer>
                <key>x</key>
                <integer>1478</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack01_0008.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>125</real>
                <key>offsetY</key>
                <real>-250</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>659</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>734</integer>
            </dict>
            <key>Npc02_Attack01_0009.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>-250</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>377</integer>
                <key>x</key>
                <integer>1436</integer>
                <key>y</key>
                <integer>492</integer>
            </dict>
            <key>Npc02_Attack01_0010.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-37</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>1761</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>Npc02_Attack01_0011.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>-37</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>1436</integer>
                <key>y</key>
                <integer>742</integer>
            </dict>
            <key>Npc02_Attack01_0012.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-71</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>247</integer>
                <key>x</key>
                <integer>1813</integer>
                <key>y</key>
                <integer>492</integer>
            </dict>
            <key>Npc02_Attack01_0013.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-71</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>850</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>247</integer>
                <key>x</key>
                <integer>1813</integer>
                <key>y</key>
                <integer>492</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Attack01.pvr.ccz</string>
            <key>size</key>
            <string>{2221,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18257797dbd40857a3907c4918383e85:581ed4a446f3d78e6fe04ca5564b3d04:32dc2f448c3a0cf587f6914783c4528f$</string>
            <key>textureFileName</key>
            <string>Npc02_Attack01.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1010</integer>
            <key>width</key>
            <integer>2221</integer>
        </dict>
    </dict>
</plist>
