<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Run0001.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-41</real>
                <key>offsetY</key>
                <real>-21</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1241</integer>
            </dict>
            <key>Npc02_Run0002.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-41</real>
                <key>offsetY</key>
                <real>-21</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>278</integer>
                <key>y</key>
                <integer>1032</integer>
            </dict>
            <key>Npc02_Run0003.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>278</integer>
                <key>x</key>
                <integer>602</integer>
                <key>y</key>
                <integer>807</integer>
            </dict>
            <key>Npc02_Run0004.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>-9</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>278</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>980</integer>
            </dict>
            <key>Npc02_Run0005.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>304</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>494</integer>
            </dict>
            <key>Npc02_Run0006.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>306</integer>
                <key>x</key>
                <integer>312</integer>
                <key>y</key>
                <integer>486</integer>
            </dict>
            <key>Npc02_Run0007.png</key>
            <dict>
                <key>height</key>
                <integer>233</integer>
                <key>offsetX</key>
                <real>5</real>
                <key>offsetY</key>
                <real>-29</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>318</integer>
                <key>x</key>
                <integer>318</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Run0008.png</key>
            <dict>
                <key>height</key>
                <integer>233</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-29</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>318</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Run0009.png</key>
            <dict>
                <key>height</key>
                <integer>293</integer>
                <key>offsetX</key>
                <real>-16</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>304</integer>
                <key>y</key>
                <integer>739</integer>
            </dict>
            <key>Npc02_Run0010.png</key>
            <dict>
                <key>height</key>
                <integer>293</integer>
                <key>offsetX</key>
                <real>-16</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>298</integer>
                <key>x</key>
                <integer>618</integer>
                <key>y</key>
                <integer>514</integer>
            </dict>
            <key>Npc02_Run0011.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>312</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>Npc02_Run0012.png</key>
            <dict>
                <key>height</key>
                <integer>261</integer>
                <key>offsetX</key>
                <real>9</real>
                <key>offsetY</key>
                <real>-15</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>312</integer>
                <key>x</key>
                <integer>636</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Run0013.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>620</integer>
                <key>y</key>
                <integer>261</integer>
            </dict>
            <key>Npc02_Run0014.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>6</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>308</integer>
                <key>x</key>
                <integer>312</integer>
                <key>y</key>
                <integer>233</integer>
            </dict>
            <key>Npc02_Run0015.png</key>
            <dict>
                <key>height</key>
                <integer>233</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-29</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>280</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>747</integer>
            </dict>
            <key>Npc02_Run0016.png</key>
            <dict>
                <key>height</key>
                <integer>233</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-29</real>
                <key>originalHeight</key>
                <integer>293</integer>
                <key>originalWidth</key>
                <integer>330</integer>
                <key>width</key>
                <integer>280</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>747</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Run.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79040bbd109bab82d64244f73bbafd4b:47448688d0a975626cc50ea938109bcd:22c9e6a9b8b31cc43dae50c517785e6b$</string>
            <key>textureFileName</key>
            <string>Npc02_Run.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
