<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Attack02_0001.png</key>
            <dict>
                <key>height</key>
                <integer>283</integer>
                <key>offsetX</key>
                <real>-107</real>
                <key>offsetY</key>
                <real>-272</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>361</integer>
                <key>x</key>
                <integer>1676</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack02_0002.png</key>
            <dict>
                <key>height</key>
                <integer>387</integer>
                <key>offsetX</key>
                <real>-73</real>
                <key>offsetY</key>
                <real>-220</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>605</integer>
                <key>x</key>
                <integer>641</integer>
                <key>y</key>
                <integer>891</integer>
            </dict>
            <key>Npc02_Attack02_0003.png</key>
            <dict>
                <key>height</key>
                <integer>281</integer>
                <key>offsetX</key>
                <real>-163</real>
                <key>offsetY</key>
                <real>-273</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>471</integer>
                <key>x</key>
                <integer>1246</integer>
                <key>y</key>
                <integer>1104</integer>
            </dict>
            <key>Npc02_Attack02_0004.png</key>
            <dict>
                <key>height</key>
                <integer>323</integer>
                <key>offsetX</key>
                <real>-184</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>513</integer>
                <key>x</key>
                <integer>523</integer>
                <key>y</key>
                <integer>1455</integer>
            </dict>
            <key>Npc02_Attack02_0005.png</key>
            <dict>
                <key>height</key>
                <integer>323</integer>
                <key>offsetX</key>
                <real>-191</real>
                <key>offsetY</key>
                <real>-250</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>499</integer>
                <key>x</key>
                <integer>1547</integer>
                <key>y</key>
                <integer>781</integer>
            </dict>
            <key>Npc02_Attack02_0006.png</key>
            <dict>
                <key>height</key>
                <integer>345</integer>
                <key>offsetX</key>
                <real>-212</real>
                <key>offsetY</key>
                <real>-236</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>541</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1110</integer>
            </dict>
            <key>Npc02_Attack02_0007.png</key>
            <dict>
                <key>height</key>
                <integer>365</integer>
                <key>offsetX</key>
                <real>-213</real>
                <key>offsetY</key>
                <real>-228</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>523</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1455</integer>
            </dict>
            <key>Npc02_Attack02_0008.png</key>
            <dict>
                <key>height</key>
                <integer>369</integer>
                <key>offsetX</key>
                <real>-55</real>
                <key>offsetY</key>
                <real>-226</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>839</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack02_0009.png</key>
            <dict>
                <key>height</key>
                <integer>323</integer>
                <key>offsetX</key>
                <real>-23</real>
                <key>offsetY</key>
                <real>-249</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>837</integer>
                <key>x</key>
                <integer>839</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc02_Attack02_0010.png</key>
            <dict>
                <key>height</key>
                <integer>319</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>777</integer>
                <key>x</key>
                <integer>839</integer>
                <key>y</key>
                <integer>323</integer>
            </dict>
            <key>Npc02_Attack02_0011.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>109</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>641</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>861</integer>
            </dict>
            <key>Npc02_Attack02_0012.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>109</real>
                <key>offsetY</key>
                <real>-251</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>641</integer>
                <key>x</key>
                <integer>659</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Npc02_Attack02_0013.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>122</real>
                <key>offsetY</key>
                <real>-254</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>665</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>369</integer>
            </dict>
            <key>Npc02_Attack02_0014.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>125</real>
                <key>offsetY</key>
                <real>-249</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>659</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>612</integer>
            </dict>
            <key>Npc02_Attack02_0015.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-17</real>
                <key>offsetY</key>
                <real>-249</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>377</integer>
                <key>x</key>
                <integer>1616</integer>
                <key>y</key>
                <integer>532</integer>
            </dict>
            <key>Npc02_Attack02_0016.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-37</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>523</integer>
                <key>y</key>
                <integer>1778</integer>
            </dict>
            <key>Npc02_Attack02_0017.png</key>
            <dict>
                <key>height</key>
                <integer>249</integer>
                <key>offsetX</key>
                <real>-37</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>325</integer>
                <key>x</key>
                <integer>1676</integer>
                <key>y</key>
                <integer>283</integer>
            </dict>
            <key>Npc02_Attack02_0018.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-71</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>247</integer>
                <key>x</key>
                <integer>1300</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
            <key>Npc02_Attack02_0019.png</key>
            <dict>
                <key>height</key>
                <integer>247</integer>
                <key>offsetX</key>
                <real>-71</real>
                <key>offsetY</key>
                <real>-248</real>
                <key>originalHeight</key>
                <integer>851</integer>
                <key>originalWidth</key>
                <integer>1001</integer>
                <key>width</key>
                <integer>247</integer>
                <key>x</key>
                <integer>1300</integer>
                <key>y</key>
                <integer>642</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Attack02.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e2f58c860e870826d94c80260071f00:818815e781636967a6beb183e55656c0:9de3d57a8f7bb7501fd1beea0b3bc88a$</string>
            <key>textureFileName</key>
            <string>Npc02_Attack02.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
