<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Idle0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{225,245}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{225,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{227,245}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{227,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{227,245}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{227,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{227,245}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{227,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,0},{229,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{229,243}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,0},{231,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{231,243}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,0},{231,243}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{231,243}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2742,0},{233,241}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{233,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2509,0},{233,241}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{233,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2276,0},{233,241}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{233,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,0},{231,241}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{231,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2975,0},{231,241}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{231,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3437,0},{229,241}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{229,241}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2049,0},{227,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{227,243}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,0},{227,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{227,243}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
            <key>Npc02_Idle0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{225,245}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{225,245}}</string>
                <key>sourceSize</key>
                <string>{241,247}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{3666,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737886a8ed055b383f80833d57fcd733:1dd32c187078274954be02fd2e4c3e99:89f140189a5cd6efb5cdc656aceb00f3$</string>
            <key>textureFileName</key>
            <string>Npc02_Idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
