<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc02_Hurt0001.png</key>
            <dict>
                <key>height</key>
                <integer>239</integer>
                <key>offsetX</key>
                <real>-5</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>253</integer>
                <key>originalWidth</key>
                <integer>269</integer>
                <key>width</key>
                <integer>245</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc02_Hurt.pvr.ccz</string>
            <key>size</key>
            <string>{245,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f34db398b7d29b16a7f22621739488f:7841c95877e71a6e67060aa53c4200cc:7fea635dfd27b291913e454ac524ce87$</string>
            <key>textureFileName</key>
            <string>Npc02_Hurt.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>239</integer>
            <key>width</key>
            <integer>245</integer>
        </dict>
    </dict>
</plist>
