<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Run0001.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>233</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>253</integer>
            </dict>
            <key>Npc01_Run0002.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>233</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Run0003.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-12</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>215</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Run0004.png</key>
            <dict>
                <key>height</key>
                <integer>241</integer>
                <key>offsetX</key>
                <real>-12</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>215</integer>
                <key>x</key>
                <integer>609</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Run0005.png</key>
            <dict>
                <key>height</key>
                <integer>231</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>814</integer>
                <key>y</key>
                <integer>472</integer>
            </dict>
            <key>Npc01_Run0006.png</key>
            <dict>
                <key>height</key>
                <integer>231</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>814</integer>
                <key>y</key>
                <integer>241</integer>
            </dict>
            <key>Npc01_Run0007.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>410</integer>
                <key>y</key>
                <integer>751</integer>
            </dict>
            <key>Npc01_Run0008.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>751</integer>
            </dict>
            <key>Npc01_Run0009.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-12</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>759</integer>
            </dict>
            <key>Npc01_Run0010.png</key>
            <dict>
                <key>height</key>
                <integer>253</integer>
                <key>offsetX</key>
                <real>-12</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>211</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc01_Run0011.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>412</integer>
                <key>y</key>
                <integer>484</integer>
            </dict>
            <key>Npc01_Run0012.png</key>
            <dict>
                <key>height</key>
                <integer>243</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-4</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>233</integer>
                <key>y</key>
                <integer>241</integer>
            </dict>
            <key>Npc01_Run0013.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>609</integer>
                <key>y</key>
                <integer>727</integer>
            </dict>
            <key>Npc01_Run0014.png</key>
            <dict>
                <key>height</key>
                <integer>235</integer>
                <key>offsetX</key>
                <real>-13</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>205</integer>
                <key>x</key>
                <integer>438</integer>
                <key>y</key>
                <integer>241</integer>
            </dict>
            <key>Npc01_Run0015.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>201</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc01_Run0016.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>-10</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>255</integer>
                <key>originalWidth</key>
                <integer>239</integer>
                <key>width</key>
                <integer>201</integer>
                <key>x</key>
                <integer>211</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Run.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2f0d64f40fd212c301a1f4e8a327824:cb60b53d820daad549644556e8bed65d:48be41d7d0b5e988eea1195803d00152$</string>
            <key>textureFileName</key>
            <string>Npc01_Run.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
