<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Beattack0001.png</key>
            <dict>
                <key>height</key>
                <integer>256</integer>
                <key>offsetX</key>
                <real>-197</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>296</integer>
                <key>x</key>
                <integer>1594</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Beattack0002.png</key>
            <dict>
                <key>height</key>
                <integer>330</integer>
                <key>offsetX</key>
                <real>-89</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>484</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1524</integer>
            </dict>
            <key>Npc01_Beattack0003.png</key>
            <dict>
                <key>height</key>
                <integer>468</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>712</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>512</integer>
            </dict>
            <key>Npc01_Beattack0004.png</key>
            <dict>
                <key>height</key>
                <integer>512</integer>
                <key>offsetX</key>
                <real>-8</real>
                <key>offsetY</key>
                <real>-8</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>806</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Beattack0005.png</key>
            <dict>
                <key>height</key>
                <integer>544</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-19</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>674</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>980</integer>
            </dict>
            <key>Npc01_Beattack0006.png</key>
            <dict>
                <key>height</key>
                <integer>608</integer>
                <key>offsetX</key>
                <real>24</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>622</integer>
                <key>originalWidth</key>
                <integer>850</integer>
                <key>width</key>
                <integer>788</integer>
                <key>x</key>
                <integer>806</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Beattack.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65b75feb5a45cbc463d5df98f4af539:0e4593cdb8a8297778178ce7e5b31135:df4c1dd8558788e56b7b619c994ab622$</string>
            <key>textureFileName</key>
            <string>Npc01_Beattack.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>2048</integer>
        </dict>
    </dict>
</plist>
