<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Attack04_0001.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-214</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>3770</integer>
                <key>y</key>
                <integer>1754</integer>
            </dict>
            <key>Npc01_Attack04_0002.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-214</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>3770</integer>
                <key>y</key>
                <integer>1500</integer>
            </dict>
            <key>Npc01_Attack04_0003.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-214</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>3570</integer>
                <key>y</key>
                <integer>1478</integer>
            </dict>
            <key>Npc01_Attack04_0004.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-214</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>3812</integer>
                <key>y</key>
                <integer>752</integer>
            </dict>
            <key>Npc01_Attack04_0005.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-219</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>3570</integer>
                <key>y</key>
                <integer>1732</integer>
            </dict>
            <key>Npc01_Attack04_0006.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-234</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>230</integer>
                <key>x</key>
                <integer>1898</integer>
                <key>y</key>
                <integer>1410</integer>
            </dict>
            <key>Npc01_Attack04_0007.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-237</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>236</integer>
                <key>x</key>
                <integer>3282</integer>
                <key>y</key>
                <integer>976</integer>
            </dict>
            <key>Npc01_Attack04_0008.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-246</real>
                <key>offsetY</key>
                <real>-35</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>254</integer>
                <key>x</key>
                <integer>2128</integer>
                <key>y</key>
                <integer>1390</integer>
            </dict>
            <key>Npc01_Attack04_0009.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-248</real>
                <key>offsetY</key>
                <real>-35</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>258</integer>
                <key>x</key>
                <integer>2098</integer>
                <key>y</key>
                <integer>1138</integer>
            </dict>
            <key>Npc01_Attack04_0010.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-250</real>
                <key>offsetY</key>
                <real>-39</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>3254</integer>
                <key>y</key>
                <integer>732</integer>
            </dict>
            <key>Npc01_Attack04_0011.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-252</real>
                <key>offsetY</key>
                <real>-39</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>266</integer>
                <key>x</key>
                <integer>2988</integer>
                <key>y</key>
                <integer>732</integer>
            </dict>
            <key>Npc01_Attack04_0012.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-241</real>
                <key>offsetY</key>
                <real>-39</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>3326</integer>
                <key>y</key>
                <integer>1722</integer>
            </dict>
            <key>Npc01_Attack04_0013.png</key>
            <dict>
                <key>height</key>
                <integer>246</integer>
                <key>offsetX</key>
                <real>-241</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>2638</integer>
                <key>y</key>
                <integer>1536</integer>
            </dict>
            <key>Npc01_Attack04_0014.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-204</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>276</integer>
                <key>x</key>
                <integer>2096</integer>
                <key>y</key>
                <integer>884</integer>
            </dict>
            <key>Npc01_Attack04_0015.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-195</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>278</integer>
                <key>x</key>
                <integer>3686</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc01_Attack04_0016.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-189</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>278</integer>
                <key>x</key>
                <integer>3706</integer>
                <key>y</key>
                <integer>244</integer>
            </dict>
            <key>Npc01_Attack04_0017.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-184</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>272</integer>
                <key>x</key>
                <integer>2372</integer>
                <key>y</key>
                <integer>1038</integer>
            </dict>
            <key>Npc01_Attack04_0018.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-179</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>258</integer>
                <key>x</key>
                <integer>3024</integer>
                <key>y</key>
                <integer>976</integer>
            </dict>
            <key>Npc01_Attack04_0019.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-180</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>3072</integer>
                <key>y</key>
                <integer>1230</integer>
            </dict>
            <key>Npc01_Attack04_0020.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-181</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2382</integer>
                <key>y</key>
                <integer>1534</integer>
            </dict>
            <key>Npc01_Attack04_0021.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-182</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>254</integer>
                <key>x</key>
                <integer>2128</integer>
                <key>y</key>
                <integer>1642</integer>
            </dict>
            <key>Npc01_Attack04_0022.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-183</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>252</integer>
                <key>x</key>
                <integer>2384</integer>
                <key>y</key>
                <integer>1776</integer>
            </dict>
            <key>Npc01_Attack04_0023.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-183</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>250</integer>
                <key>x</key>
                <integer>2636</integer>
                <key>y</key>
                <integer>1782</integer>
            </dict>
            <key>Npc01_Attack04_0024.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-190</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>2382</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>Npc01_Attack04_0025.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>-194</real>
                <key>offsetY</key>
                <real>-40</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>256</integer>
                <key>x</key>
                <integer>1578</integer>
                <key>y</key>
                <integer>1038</integer>
            </dict>
            <key>Npc01_Attack04_0026.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-194</real>
                <key>offsetY</key>
                <real>-37</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>3328</integer>
                <key>y</key>
                <integer>1230</integer>
            </dict>
            <key>Npc01_Attack04_0027.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>-194</real>
                <key>offsetY</key>
                <real>-37</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>228</integer>
                <key>x</key>
                <integer>1930</integer>
                <key>y</key>
                <integer>1918</integer>
            </dict>
            <key>Npc01_Attack04_0028.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-210</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>198</integer>
                <key>x</key>
                <integer>2882</integer>
                <key>y</key>
                <integer>1490</integer>
            </dict>
            <key>Npc01_Attack04_0029.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-210</real>
                <key>offsetY</key>
                <real>-34</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>198</integer>
                <key>x</key>
                <integer>1930</integer>
                <key>y</key>
                <integer>1664</integer>
            </dict>
            <key>Npc01_Attack04_0030.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-127</real>
                <key>offsetY</key>
                <real>-28</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>314</integer>
                <key>x</key>
                <integer>3706</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0031.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>17</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>226</integer>
                <key>x</key>
                <integer>2158</integer>
                <key>y</key>
                <integer>1884</integer>
            </dict>
            <key>Npc01_Attack04_0032.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>40</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>2886</integer>
                <key>y</key>
                <integer>1744</integer>
            </dict>
            <key>Npc01_Attack04_0033.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>2882</integer>
                <key>y</key>
                <integer>1236</integer>
            </dict>
            <key>Npc01_Attack04_0034.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>2834</integer>
                <key>y</key>
                <integer>982</integer>
            </dict>
            <key>Npc01_Attack04_0035.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>40</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>1898</integer>
                <key>y</key>
                <integer>1156</integer>
            </dict>
            <key>Npc01_Attack04_0036.png</key>
            <dict>
                <key>height</key>
                <integer>346</integer>
                <key>offsetX</key>
                <real>-151</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>644</integer>
                <key>x</key>
                <integer>934</integer>
                <key>y</key>
                <integer>934</integer>
            </dict>
            <key>Npc01_Attack04_0037.png</key>
            <dict>
                <key>height</key>
                <integer>342</integer>
                <key>offsetX</key>
                <real>-157</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>666</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1824</integer>
            </dict>
            <key>Npc01_Attack04_0038.png</key>
            <dict>
                <key>height</key>
                <integer>362</integer>
                <key>offsetX</key>
                <real>-143</real>
                <key>offsetY</key>
                <real>4</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>660</integer>
                <key>x</key>
                <integer>950</integer>
                <key>y</key>
                <integer>572</integer>
            </dict>
            <key>Npc01_Attack04_0039.png</key>
            <dict>
                <key>height</key>
                <integer>366</integer>
                <key>offsetX</key>
                <real>-137</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>638</integer>
                <key>x</key>
                <integer>3048</integer>
                <key>y</key>
                <integer>366</integer>
            </dict>
            <key>Npc01_Attack04_0040.png</key>
            <dict>
                <key>height</key>
                <integer>366</integer>
                <key>offsetX</key>
                <real>-127</real>
                <key>offsetY</key>
                <real>6</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>658</integer>
                <key>x</key>
                <integer>3048</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0041.png</key>
            <dict>
                <key>height</key>
                <integer>374</integer>
                <key>offsetX</key>
                <real>-108</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>632</integer>
                <key>x</key>
                <integer>1758</integer>
                <key>y</key>
                <integer>510</integer>
            </dict>
            <key>Npc01_Attack04_0042.png</key>
            <dict>
                <key>height</key>
                <integer>374</integer>
                <key>offsetX</key>
                <real>-120</real>
                <key>offsetY</key>
                <real>9</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>608</integer>
                <key>x</key>
                <integer>802</integer>
                <key>y</key>
                <integer>1744</integer>
            </dict>
            <key>Npc01_Attack04_0043.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>-26</real>
                <key>offsetY</key>
                <real>-43</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>422</integer>
                <key>x</key>
                <integer>2454</integer>
                <key>y</key>
                <integer>458</integer>
            </dict>
            <key>Npc01_Attack04_0044.png</key>
            <dict>
                <key>height</key>
                <integer>270</integer>
                <key>offsetX</key>
                <real>-26</real>
                <key>offsetY</key>
                <real>-43</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>422</integer>
                <key>x</key>
                <integer>2454</integer>
                <key>y</key>
                <integer>458</integer>
            </dict>
            <key>Npc01_Attack04_0045.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>62</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>3326</integer>
                <key>y</key>
                <integer>1478</integer>
            </dict>
            <key>Npc01_Attack04_0046.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>62</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>242</integer>
                <key>x</key>
                <integer>3570</integer>
                <key>y</key>
                <integer>752</integer>
            </dict>
            <key>Npc01_Attack04_0047.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>61</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>240</integer>
                <key>x</key>
                <integer>3086</integer>
                <key>y</key>
                <integer>1716</integer>
            </dict>
            <key>Npc01_Attack04_0048.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>56</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>3080</integer>
                <key>y</key>
                <integer>1472</integer>
            </dict>
            <key>Npc01_Attack04_0049.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>55</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>244</integer>
                <key>x</key>
                <integer>2638</integer>
                <key>y</key>
                <integer>1292</integer>
            </dict>
            <key>Npc01_Attack04_0050.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>57</real>
                <key>offsetY</key>
                <real>-30</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>234</integer>
                <key>x</key>
                <integer>3746</integer>
                <key>y</key>
                <integer>1006</integer>
            </dict>
            <key>Npc01_Attack04_0051.png</key>
            <dict>
                <key>height</key>
                <integer>230</integer>
                <key>offsetX</key>
                <real>63</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>216</integer>
                <key>x</key>
                <integer>3518</integer>
                <key>y</key>
                <integer>996</integer>
            </dict>
            <key>Npc01_Attack04_0052.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>40</real>
                <key>offsetY</key>
                <real>-27</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>3760</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0053.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-26</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>3556</integer>
                <key>y</key>
                <integer>1226</integer>
            </dict>
            <key>Npc01_Attack04_0054.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>2798</integer>
                <key>y</key>
                <integer>728</integer>
            </dict>
            <key>Npc01_Attack04_0055.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-25</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>190</integer>
                <key>x</key>
                <integer>2644</integer>
                <key>y</key>
                <integer>1038</integer>
            </dict>
            <key>Npc01_Attack04_0056.png</key>
            <dict>
                <key>height</key>
                <integer>310</integer>
                <key>offsetX</key>
                <real>-74</real>
                <key>offsetY</key>
                <real>3</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>408</integer>
                <key>x</key>
                <integer>2390</integer>
                <key>y</key>
                <integer>728</integer>
            </dict>
            <key>Npc01_Attack04_0057.png</key>
            <dict>
                <key>height</key>
                <integer>272</integer>
                <key>offsetX</key>
                <real>-168</real>
                <key>offsetY</key>
                <real>47</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>262</integer>
                <key>x</key>
                <integer>1834</integer>
                <key>y</key>
                <integer>884</integer>
            </dict>
            <key>Npc01_Attack04_0058.png</key>
            <dict>
                <key>height</key>
                <integer>458</integer>
                <key>offsetX</key>
                <real>-209</real>
                <key>offsetY</key>
                <real>118</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>594</integer>
                <key>x</key>
                <integer>2454</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0059.png</key>
            <dict>
                <key>height</key>
                <integer>464</integer>
                <key>offsetX</key>
                <real>-242</real>
                <key>offsetY</key>
                <real>117</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>558</integer>
                <key>x</key>
                <integer>802</integer>
                <key>y</key>
                <integer>1280</integer>
            </dict>
            <key>Npc01_Attack04_0060.png</key>
            <dict>
                <key>height</key>
                <integer>436</integer>
                <key>offsetX</key>
                <real>-253</real>
                <key>offsetY</key>
                <real>139</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>538</integer>
                <key>x</key>
                <integer>1360</integer>
                <key>y</key>
                <integer>1280</integer>
            </dict>
            <key>Npc01_Attack04_0061.png</key>
            <dict>
                <key>height</key>
                <integer>432</integer>
                <key>offsetX</key>
                <real>-260</real>
                <key>offsetY</key>
                <real>137</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>520</integer>
                <key>x</key>
                <integer>1410</integer>
                <key>y</key>
                <integer>1716</integer>
            </dict>
            <key>Npc01_Attack04_0062.png</key>
            <dict>
                <key>height</key>
                <integer>510</integer>
                <key>offsetX</key>
                <real>-173</real>
                <key>offsetY</key>
                <real>98</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>696</integer>
                <key>x</key>
                <integer>1758</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0063.png</key>
            <dict>
                <key>height</key>
                <integer>572</integer>
                <key>offsetX</key>
                <real>-106</real>
                <key>offsetY</key>
                <real>61</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>808</integer>
                <key>x</key>
                <integer>950</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0064.png</key>
            <dict>
                <key>height</key>
                <integer>708</integer>
                <key>offsetX</key>
                <real>-35</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>950</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack04_0065.png</key>
            <dict>
                <key>height</key>
                <integer>542</integer>
                <key>offsetX</key>
                <real>63</real>
                <key>offsetY</key>
                <real>-22</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>934</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>708</integer>
            </dict>
            <key>Npc01_Attack04_0066.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0067.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0068.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0069.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0070.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
            <key>Npc01_Attack04_0071.png</key>
            <dict>
                <key>height</key>
                <integer>574</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>-38</real>
                <key>originalHeight</key>
                <integer>738</integer>
                <key>originalWidth</key>
                <integer>1082</integer>
                <key>width</key>
                <integer>802</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1250</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Attack04.pvr.ccz.pvr.ccz</string>
            <key>size</key>
            <string>{4020,2166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce4603cf2478c097b488bf397fe847b:a54d6e5256f016d09eda23e5fd1323ce:faf6febe8d06f4e2958df4f8c4af8677$</string>
            <key>textureFileName</key>
            <string>Npc01_Attack04.pvr.ccz.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2166</integer>
            <key>width</key>
            <integer>4020</integer>
        </dict>
    </dict>
</plist>
