<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Die0001.png</key>
            <dict>
                <key>height</key>
                <integer>207</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>207</integer>
                <key>originalWidth</key>
                <integer>188</integer>
                <key>width</key>
                <integer>188</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Die.pvr.ccz</string>
            <key>size</key>
            <string>{188,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:222c050dd2f93f73d1e0e69a80a198f4:1ed44049d1beedfd26e95f29dc7dd220:4934a83b5011a1d157473776e6827ee9$</string>
            <key>textureFileName</key>
            <string>Npc01_Die.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>207</integer>
            <key>width</key>
            <integer>188</integer>
        </dict>
    </dict>
</plist>
