<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Jump0001.png</key>
            <dict>
                <key>height</key>
                <integer>245</integer>
                <key>offsetX</key>
                <real>19</real>
                <key>offsetY</key>
                <real>-10</real>
                <key>originalHeight</key>
                <integer>269</integer>
                <key>originalWidth</key>
                <integer>254</integer>
                <key>width</key>
                <integer>200</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>265</integer>
            </dict>
            <key>Npc01_Jump0002.png</key>
            <dict>
                <key>height</key>
                <integer>265</integer>
                <key>offsetX</key>
                <real>-4</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>269</integer>
                <key>originalWidth</key>
                <integer>254</integer>
                <key>width</key>
                <integer>246</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Jump.pvr.ccz</string>
            <key>size</key>
            <string>{246,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ed143580024136005d1dec869001a49:65df042de12872e91c3d5ee0916fd0dc:635e5fbdb8f0a73fb7433c2534e5b3e9$</string>
            <key>textureFileName</key>
            <string>Npc01_Jump.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>510</integer>
            <key>width</key>
            <integer>246</integer>
        </dict>
    </dict>
</plist>
