<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Attack02_0001.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>189</integer>
                <key>x</key>
                <integer>189</integer>
                <key>y</key>
                <integer>1736</integer>
            </dict>
            <key>Npc01_Attack02_0002.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>189</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1740</integer>
            </dict>
            <key>Npc01_Attack02_0003.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>189</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1486</integer>
            </dict>
            <key>Npc01_Attack02_0004.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>189</integer>
                <key>x</key>
                <integer>231</integer>
                <key>y</key>
                <integer>1482</integer>
            </dict>
            <key>Npc01_Attack02_0005.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>199</integer>
                <key>x</key>
                <integer>803</integer>
                <key>y</key>
                <integer>504</integer>
            </dict>
            <key>Npc01_Attack02_0006.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-18</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>231</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>1234</integer>
            </dict>
            <key>Npc01_Attack02_0007.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>-20</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>235</integer>
                <key>x</key>
                <integer>751</integer>
                <key>y</key>
                <integer>1244</integer>
            </dict>
            <key>Npc01_Attack02_0008.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-29</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>982</integer>
            </dict>
            <key>Npc01_Attack02_0009.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>-31</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>257</integer>
                <key>x</key>
                <integer>261</integer>
                <key>y</key>
                <integer>486</integer>
            </dict>
            <key>Npc01_Attack02_0010.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-33</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>261</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>254</integer>
            </dict>
            <key>Npc01_Attack02_0011.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-35</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>267</integer>
                <key>x</key>
                <integer>277</integer>
                <key>y</key>
                <integer>242</integer>
            </dict>
            <key>Npc01_Attack02_0012.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-24</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>243</integer>
                <key>x</key>
                <integer>508</integer>
                <key>y</key>
                <integer>1232</integer>
            </dict>
            <key>Npc01_Attack02_0013.png</key>
            <dict>
                <key>height</key>
                <integer>244</integer>
                <key>offsetX</key>
                <real>-25</real>
                <key>offsetY</key>
                <real>-5</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>245</integer>
                <key>x</key>
                <integer>759</integer>
                <key>y</key>
                <integer>1000</integer>
            </dict>
            <key>Npc01_Attack02_0014.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>12</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>277</integer>
                <key>x</key>
                <integer>277</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack02_0015.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>34</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>255</integer>
                <key>y</key>
                <integer>980</integer>
            </dict>
            <key>Npc01_Attack02_0016.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>28</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>277</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack02_0017.png</key>
            <dict>
                <key>height</key>
                <integer>254</integer>
                <key>offsetX</key>
                <real>32</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>273</integer>
                <key>x</key>
                <integer>554</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc01_Attack02_0018.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>38</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>259</integer>
                <key>x</key>
                <integer>544</integer>
                <key>y</key>
                <integer>254</integer>
            </dict>
            <key>Npc01_Attack02_0019.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>37</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>257</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc01_Attack02_0020.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>36</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>255</integer>
                <key>x</key>
                <integer>512</integer>
                <key>y</key>
                <integer>748</integer>
            </dict>
            <key>Npc01_Attack02_0021.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>35</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>255</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>740</integer>
            </dict>
            <key>Npc01_Attack02_0022.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>34</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>253</integer>
                <key>x</key>
                <integer>767</integer>
                <key>y</key>
                <integer>758</integer>
            </dict>
            <key>Npc01_Attack02_0023.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>33</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>251</integer>
                <key>x</key>
                <integer>508</integer>
                <key>y</key>
                <integer>990</integer>
            </dict>
            <key>Npc01_Attack02_0024.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>27</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>255</integer>
                <key>x</key>
                <integer>257</integer>
                <key>y</key>
                <integer>738</integer>
            </dict>
            <key>Npc01_Attack02_0025.png</key>
            <dict>
                <key>height</key>
                <integer>242</integer>
                <key>offsetX</key>
                <real>23</real>
                <key>offsetY</key>
                <real>-6</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>255</integer>
                <key>x</key>
                <integer>518</integer>
                <key>y</key>
                <integer>506</integer>
            </dict>
            <key>Npc01_Attack02_0026.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>22</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>460</integer>
                <key>y</key>
                <integer>1476</integer>
            </dict>
            <key>Npc01_Attack02_0027.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>22</real>
                <key>offsetY</key>
                <real>-3</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>229</integer>
                <key>x</key>
                <integer>231</integer>
                <key>y</key>
                <integer>1234</integer>
            </dict>
            <key>Npc01_Attack02_0028.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>197</integer>
                <key>x</key>
                <integer>827</integer>
                <key>y</key>
                <integer>252</integer>
            </dict>
            <key>Npc01_Attack02_0029.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>7</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>258</integer>
                <key>originalWidth</key>
                <integer>337</integer>
                <key>width</key>
                <integer>197</integer>
                <key>x</key>
                <integer>827</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Attack02.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deff9dd472fefa9ecfec2ab70f86a8d5:b615d273ffbebc222fdf9d45a88141b5:f2225c1bb3e491f23a209747b2e5976b$</string>
            <key>textureFileName</key>
            <string>Npc01_Attack02.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>2048</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
