<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc01_Idle0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{190,255}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{190,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{190,253}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,0},{190,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{190,253}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,0},{190,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{190,251}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,0},{190,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{190,251}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2090,0},{190,249}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{190,249}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2850,0},{190,247}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,247}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2660,0},{190,247}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,247}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3610,0},{190,245}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,245}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{3420,0},{190,245}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,245}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3230,0},{190,245}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,245}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{3040,0},{190,245}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,245}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2470,0},{190,247}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,247}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2280,0},{190,247}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,247}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,0},{190,249}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{190,249}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{190,249}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{190,249}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,0},{190,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{190,251}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,0},{190,251}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{190,251}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{190,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{190,253}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
            <key>Npc01_Idle0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{190,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{190,253}}</string>
                <key>sourceSize</key>
                <string>{206,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Npc01_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{3800,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af2abe03b51324ebd3eb74695502a360:c62d169836a0986f0463a4bafd1453ed:019c935a575c3f4698d53d64b26aaad1$</string>
            <key>textureFileName</key>
            <string>Npc01_Idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
