<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc0010001.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>870</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010002.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>723</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010003.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>733</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc0010004.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>586</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc0010005.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>439</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc0010006.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>580</integer>
                <key>y</key>
                <integer>744</integer>
            </dict>
            <key>Npc0010007.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>868</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc0010008.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>435</integer>
                <key>y</key>
                <integer>748</integer>
            </dict>
            <key>Npc0010009.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>578</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010010.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>435</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc0010011.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>290</integer>
                <key>y</key>
                <integer>748</integer>
            </dict>
            <key>Npc0010012.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>756</integer>
            </dict>
            <key>Npc0010013.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>143</integer>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010014.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>504</integer>
            </dict>
            <key>Npc0010015.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>252</integer>
            </dict>
            <key>Npc0010016.png</key>
            <dict>
                <key>height</key>
                <integer>252</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>0</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc0010017.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>433</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010018.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>2</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>290</integer>
                <key>y</key>
                <integer>498</integer>
            </dict>
            <key>Npc0010019.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>750</integer>
            </dict>
            <key>Npc0010020.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>288</integer>
                <key>y</key>
                <integer>248</integer>
            </dict>
            <key>Npc0010021.png</key>
            <dict>
                <key>height</key>
                <integer>250</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>500</integer>
            </dict>
            <key>Npc0010022.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>145</integer>
                <key>x</key>
                <integer>723</integer>
                <key>y</key>
                <integer>496</integer>
            </dict>
            <key>Npc0010023.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>292</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
            <key>Npc0010024.png</key>
            <dict>
                <key>height</key>
                <integer>248</integer>
                <key>offsetX</key>
                <real>3</real>
                <key>offsetY</key>
                <real>-1</real>
                <key>originalHeight</key>
                <integer>252</integer>
                <key>originalWidth</key>
                <integer>153</integer>
                <key>width</key>
                <integer>147</integer>
                <key>x</key>
                <integer>145</integer>
                <key>y</key>
                <integer>0</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>Npc001_Idle.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd2d447c0d463214c2c3ec0717334de:4fd0ddefa0c4b6cc39bab622dff8c70d:d648c94f5c1c6b90cc077f021a5fdd51$</string>
            <key>textureFileName</key>
            <string>Npc001_Idle.pvr.ccz</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>1024</integer>
            <key>width</key>
            <integer>1024</integer>
        </dict>
    </dict>
</plist>
